body,
html {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  max-width: 2100px;
  min-width: 1500px;
}
.main-block {
  background: url("img/main-block-bg-image.png") top no-repeat;
  height: 100%;
  min-height: 800px;
  max-height: 1072px;
  width: 100%;
  background-size: cover;
  margin: 0;
  padding: 0;
  position: relative;
  display: inline-block;
}
.main-block img {
  margin: 20px 20px 20px 25px;
  position: absolute;
}
.main-block .navigation {
  list-style: none;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 15px;
  color: white;
  margin: 46.5px 0 0 320px;
  letter-spacing: 1pt;
}
.main-block .navigation li {
  float: left;
  display: block;
  margin-right: 50px;
  cursor: pointer;
  position: relative;
}
.main-block .navigation li svg {
  margin-left: 15px;
}
.main-block .navigation li:hover .nav-hidden {
  display: block;
}
.main-block .navigation li .nav-hidden {
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
  position: absolute;
}
.main-block .navigation li .nav-hidden li {
  display: block;
  padding: 5px;
}
.main-block .slogan-and-description {
  margin-top: 180px;
  margin-left: 330px;
  display: block;
  color: white;
  max-width: 520px;
}
.main-block .slogan-and-description .slogan {
  font-family: 'Lato', sans-serif;
  font-weight: lighter;
  font-size: 52pt;
  line-height: 62pt;
}
.main-block .slogan-and-description .description {
  font-family: 'Lato', sans-serif;
  font-size: 13pt;
  line-height: 25pt;
}
.main-block .askew {
  width: 100%;
  max-width: 2100px;
  position: absolute;
  top: calc(100% - 50px);
  z-index: 3;
}
.information {
  background-color: white;
  width: 100vm;
  z-index: 2;
  position: relative;
  padding: 0 0 50px;
}
.information .slider-box {
  position: relative;
  width: 250px;
  height: 315px;
  overflow: hidden;
  padding-top: 50px;
  margin-left: 320px;
  display: inline-block;
}
.information .slider-box .slider {
  position: relative;
  width: 10000px;
  height: 210px;
}
.information .slider-box .slider .quote {
  float: left;
  font-family: 'Lato', sans-serif;
  font-style: italic;
  font-size: 25px;
  color: #fe992a;
  width: 250px;
  height: 315px;
}
.information .slider-box .prev,
.information .slider-box .next {
  position: absolute;
  bottom: 0;
  display: inline-block;
  width: 40px;
  height: 40px;
  cursor: pointer;
  font-family: 'Quicksand', sans-serif;
  font-size: 25px;
  color: white;
  background-color: #fe992a;
  text-align: center;
}
.information .slider-box .prev {
  right: 41px;
}
.information .slider-box .next {
  right: 0;
}
.information .info-block {
  margin-left: 190px;
  width: 590px;
  display: inline-block;
  position: relative;
  top: -125px;
}
.information .info-block .info-caption {
  color: #fe992a;
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  display: inline-block;
  font-style: italic;
}
.information .info-block .info-description {
  font-family: "Arial", sans-serif;
  color: #737c85;
  font-size: 15px;
  line-height: 30px;
}
.footer {
  background: url("img/footer-bg.png");
  width: 100vm;
  height: 400px;
  color: white;
  font-family: 'Open Sans', sans-serif;
  padding-left: 320px;
  padding-top: 50px;
  font-size: 12px;
}
.footer .footer-ul {
  list-style: none;
  display: inline-block;
  padding: 0;
  vertical-align: top;
  margin: 0 70px 0 0;
}
.footer .footer-ul:nth-child(2) {
  margin-left: 100px;
}
.footer .footer-ul li {
  padding-bottom: 10px;
}
.footer .footer-ul a {
  text-decoration: none;
  color: white;
}
.footer .footer-ul a:active {
  text-decoration: none;
  color: white;
}
.footer .footer-ul a:hover {
  text-decoration: none;
  color: white;
  cursor: pointer;
}
.footer .footer-ul a:visited {
  text-decoration: none;
  color: whitesmoke;
}
