// first view block with main image, slogan and header with logo
body, html {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    max-width: 2100px;
}

.main-block {
    background: url("img/main-block-bg-image.png") top no-repeat;
    background-position-y: -80px;
    height: 100%;
    min-height: 700px;
    max-height: 1074px;
    width: 100%;
    background-size: cover;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;



    img {
        margin: 20px 20px 20px 25px;
        position: absolute;
    }
    .navigation {
        margin: 0 0 0 320px;
        list-style: none;
        font-family: 'Lato', sans-serif;
        font-weight: bold;
        font-size: 15px;
        color: white;
        margin-top: 46.5px;
        letter-spacing: 1pt;
        display: inline-block;
        li {
            float: left;
            display: block;
            margin-right: 50px;
            cursor: pointer;
            position: relative;
            svg {
                margin-left: 15px;

            }
            &:hover {
                .nav-hidden {
                    display: block;
                }
            }
            .nav-hidden {
                list-style: none;
                padding: 0;
                margin: 0;
                display: none;
                position: absolute;
                //make  normal position and lef padding on the small screens
                li {
                    display: block;
                    padding: 5px;
                }
            }

        } //сделать стрелочку вниз из блока с transparent border

    }
    .slogan-and-description {
        margin-top: 180px;
        margin-left: 330px;
        display: block;
        color:white;
        max-width: 520px;
        .slogan {
            font-family: 'Lato', sans-serif;
            font-weight: lighter;
            font-size: 52pt;
            line-height: 62pt;
        }
        .description {
            font-family: 'Lato', sans-serif;
            font-size: 13pt;
            line-height: 25pt;

        }

    }// попробовать просто добавить блоки  снизу, возможно это решит проблему пропадания свг
    .askew {
        width: 100%;
        max-width: 2100px;
        position: absolute;
        top: calc(~"100% - 80px");
    }
}

.information {
    background-color: white;
    width: 100%;
    margin: 0;
    height: 400px;
    padding: 0;
}
